* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #fff;
  color: #1e1e1e;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.profile-header .left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-header .left i {
  font-size: 2rem;
  cursor: pointer;
}

.profile-header .logo {
  height: 3rem;
}

.profile-header .right-icons i {
  font-size: 1.3rem;
  margin-left: 20px;
  cursor: pointer;
  color: #00cc66;

}
.profile-header .right-icons i #profile{
   font-size: 1.6rem;
   color: #000; 
}

.active-icon {
  border-bottom: 2px solid green;
  border-radius: 50%;
}

.profile-options {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}
  
.bi{color: #00cc66;}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 12px;
  border-bottom: 1px solid #ccc;
  transition: background 0.2s ease;
  cursor: pointer;
  padding: 1rem;
}

.option:hover {
  background: #f9f9f9;
}

.option i {
  font-size: 1.2rem;
  color: #000;
}

.option span {
  flex-grow: 1;
  margin-left: 16px;
  font-size: 1rem;
}

@media (min-width: 700px) {
  .profile-header, .profile-options {
    max-width: 1050px;
    margin: auto;

  }
  .option span {
  flex-grow: 1;
  margin-left: 1.5rem;
  font-size: 1.6rem;
}
.option i {
  font-size: 2rem;
  color: #000;
}
.profile-header .logo {
  height: 4.7rem;
}
.profile-header .right-icons i {
  font-size: 1.8rem;}
  .option {
  padding: 1.5rem;
}
}
